section.Home
{
    display: grid;
    grid-template-columns: 60% auto;
    width: 70%;
    margin: 70px auto;
    gap: 20px;
}

.Home aside
{
    text-align: start;
    margin: 160px 0px;
}

.Home aside h1
{
    color: var(--title-color);
    font-size: 40px;
    letter-spacing: 1px;
}

.Home aside p
{
    color: var(--smallpara-color);
    margin: 20px 0 ;
}

.Home aside button
{
    position: relative;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    margin-top: 40px;
    transition: .4s ease;
}

.Home aside button::after
{
    content: "";
    position: absolute;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    animation: movingBorder 2s ease infinite alternate-reverse;
}

.Home aside button::before
{
    content: "";
    position: absolute;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: -20px;
    left: -20px;
    animation: movingBorder 2s ease infinite reverse;
}

.Home aside button:hover
{
    background-color: var(--primary-hover-color);
}

@keyframes movingBorder
{
    0%
    {
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        border: 2px solid var(--primary-color);
    }
    100%
    {
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        top: -20px;
        left: -20px;
        border: 1px solid var(--secondary-color);
    }
}

.Home .Currency {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    padding: 15px;
    background-image: url('../../assets/green.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.Home .Currency h2 {
    color: #9fe870;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}

.Home .CurrencyData {
    position: absolute;
    width: 100%;
    border-radius: 40px;
    top: 30%;
    left: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.231);
}

.Home .CurrencyData p.Sep 
{
    border: 1px solid rgba(128, 128, 128, 0.357);
    margin: 10px 0;
}

/* ************* About ************* */

section.About {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 20px;
    width: 70%;
    margin: 70px auto;
    align-items: center;
}

section.About img {
    width: 100%;
}

.AboutInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.AboutInfoHeader {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px ;
    gap: 10px;
    color: rgb(9, 104, 9);
    font-weight: 600;
    background-color: var(--secondary-color);
}

.AboutInfoHeader img {
    width: 25px !important;
    height: 25px;
}

.AboutInfo h2 {
    color: var(--primary-color);
    font-size: 30px;
}

.AboutInfo p {
    color: var(--smallpara-color);
    line-height: 28px;
}

.AboutCardContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}

.AboutCard {
    color: rgb(9, 93, 9);
    display: flex;
    gap: 10px;
    align-items : center;
}
.AboutCard > div:first-of-type {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 5px;
}

.AboutCard div p {
    font-size: 12px;
}


/* ************* Services ************* */

section.Services {
    width: 70%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Services h2 {
    color: var(--primary-color);
    font-size: 30px;
}
.Services p {
    color: var(--smallpara-color);
    line-height: 28px;
}

.ServiceCard {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}

.ServiceCardContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 300px;
    border: 1px solid rgba(128, 128, 128, 0.364);
    padding: 10px;
    border-radius: 10px;
    color: var(--primary-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.17);
}

.ServiceCardIcon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.ServiceInfo p{
    margin-top: 10px;
    line-height: normal;
    font-size: 14px;
}

/* ************* Contact ************* */

.Contact {
    width: 70%;
    margin:70px auto;
    display: grid;
    grid-template-columns: auto 40% auto ;
}

.ContactInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ContactInfo h2 {
    color: var(--primary-color);
}

.ContactInfo p {
    color: var(--smallpara-color);
    line-height: 25px;
}

.contactCardContainer {
    display: grid;
    gap: 20px;
}

.contactCard {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    gap: 20px;
}

.contactCardIcon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}


.Contact img {
    width: 300px;
    align-self: center;
}


.ContactForm {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.129);
}

.ContactForm h3 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.FormFirstRaw {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

.InputField {
    border: 1px solid rgba(128, 128, 128, 0.637);
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}

.InputField input {
    padding: 5px;
    width: 100%;
    border: none;
    outline: none;
}

.InputField textarea {
    padding: 5px;
    width: 100%;
    min-width: 90%;
    min-height: 100px;
    max-height: 250px !important;
    border: none;
    outline: none;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: var(--primary-color);
    transition: .7s ease;
}

button:hover {
    background-color: var(--primary-hover-color);
}

.Error {
    color: red;
    padding: 5px 10px;
}

/* **************** FOOTER **************** */

.footerImage {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.Footer {
    margin: 70px auto 0px auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
}

.Footer > div:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Footer > div:first-of-type p{
    color: var(--smallpara-color);
    line-height: 30px;
    font-size: 14px;
}

.FooterRowOne {
    display: flex;
    gap: 40px;
}

.FooterIconRowOne {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.FooterIconRowOne div {
    width: 50px;
    height: 50px;
    background-color: #d9f1cb;
    color: green;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FooterIconRowOne p {
    font-size: 14px;
    color: var(--smallpara-color);
}

.FooterNav a:hover li {
    color: green;
}

.Footer h4 {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 16px;
}
.Footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--smallpara-color);
}

.Footer ul li {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    transition: .4s ease;
}

.footerSignup {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footerSignup h3 {
    color: rgb(8, 110, 8);
}

.footerSignup > p:first-of-type {
    color: var(--smallpara-color);
    line-height: 25px;
    font-size: 14px;
}

.footerIcon {
    width: 40px ;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(205, 250, 205, 0.849);
    display: flex;
    align-items: center;
    justify-content: center;
}

form.footerInput {
    border: 1px solid rgba(82, 81, 81, 0.482);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-radius: 50px;
    gap: 10px;
    color: var(--primary-color);

}

.footerInput input {
    outline: none;
    border: none;
    max-width: 100%;
    flex: 1;
}

.footerInput button {
    border-radius: 30px;
    padding: 10px 20px;
}