section.Home
{
    display: grid;
    grid-template-columns: 60% auto;
    width: 70%;
    margin: 40px auto;
    gap: 20px;
}

.Home aside
{
    text-align: start;
    margin: 160px 0px;
}

.Home aside h1
{
    color: var(--title-color);
    font-size: 40px;
    letter-spacing: 1px;
}

.Home aside p
{
    color: var(--smallpara-color);
    margin: 20px 0 ;
}

.Home aside button
{
    position: relative;
    padding: 10px 20px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    margin-top: 40px;
    transition: .4s ease;
}

.Home aside button::after
{
    content: "";
    position: absolute;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
    animation: movingBorder 2s ease infinite alternate-reverse;
}

.Home aside button::before
{
    content: "";
    position: absolute;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: -20px;
    left: -20px;
    animation: movingBorder 2s ease infinite reverse;
}

.Home aside button:hover
{
    background-color: var(--primary-hover-color);
}

@keyframes movingBorder
{
    0%
    {
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        top: -5px;
        left: -5px;
        border: 2px solid var(--primary-color);
    }
    100%
    {
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        top: -20px;
        left: -20px;
        border: 1px solid var(--secondary-color);
    }
}

.Home .Currency {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    padding: 15px;
    background-image: url('../../assets/green.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.Home .Currency h2 {
    color: #9fe870;
    font-weight: 900;
    font-family: "Inter", sans-serif;
}

.Home .CurrencyData {
    position: absolute;
    width: 100%;
    border-radius: 40px;
    top: 30%;
    left: 0;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.231);
}

.Home .CurrencyData p.Sep 
{
    border: 1px solid rgba(128, 128, 128, 0.357);
    margin: 10px 0;
}

